.schedule{
  border: 1px yellow solid;
  
}
.scheduleWrapper{
  margin-bottom: 50px;
  border: 1px solid red;
  
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scheduleHeader{
  text-align: center;
  font-family: 'Hind Madurai', sans-serif;
  font-size: 2rem;
}

.imgsWrapper{
  width: 100px;
  height: 100px;
  background: green;

}
.dateWraper{

}