.wrapper {
  margin-left: 275px;
  position: relative;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  margin-bottom: 50px
}

.listContent {
  background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 86vh;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  color: #ffffff;
}

/* scroll */

html {
  --scrollbarBG: #bdb6b6;
  --thumbBG: #4c4c4cbd;
}

.listContent::-webkit-scrollbar {
  width: 11px;
}

.listContent {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.listContent::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.listContent::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

/* ./scroll */

.mainHeader {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}
.filter{
  display: flex;
  margin-top: 50px;
  height: 30px;
  justify-content: center;
  /* width: 90%; */
  /* margin: 0 auto; */
}
.filterSelect, .datapicker{
  height: 30px;
  width: 30%;
  margin-right: 20px;
  border-radius: 8px;
  padding-left: 15px;
}

.channelDescriptionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-top: 120px;
  margin-bottom: 30px;
}

.imgWrapper {
  max-width: 200px;
  padding-right: 20px;
}

.headerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.channelDescription {
  max-width: 80%;
  margin: 0 auto;
}

.channelName {
  font-family: 'Hind Madurai', sans-serif;
  color: #ffc107;
  font-size: 2rem;
}

.channelType {
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #1d1d1b;
  font-size: 0.9rem;
  border-radius: 25px;
  padding: 2px 10px;
  margin: 20px;
  text-align: right;
}

.tagline {
  margin-top: 20px;
  margin-bottom: 20px;
}

.visitHomePage {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
}

.channelUrl {
  margin-top: 0;
  margin-left: 10px;
}

.channelUrl:hover {
  color: #ffc107;
}

.chooseChannel {
  color: #ffc107;
  text-align: center;
  font-size: 2rem;
  font-family: 'Hind Madurai', sans-serif;
  margin-top: 50px;
}

.scheduleWrapper {
  margin-bottom: 40px;
  font-size: 1.2rem;
  display: flex;
}

.date {
  font-weight: bold;
  margin-right: 20px;
}

.programTitle {
  font-weight: bold;
}

.description {
  font-style: italic;
}